[Desktop Entry]
Name=Cedilla
Comment=A markdown text editor
Comment[cs]=Editor textu Markdown
Type=Application
Icon=dev.mariinkys.Cedilla
Exec=cedilla %F
Terminal=false
StartupNotify=true
Categories=COSMIC;Utility;TextTools;Office;TextEditor;
Keywords=COSMIC;Markdown;MD;Editor;Text;Writing;Notes;Documentation;Markup;Preview;
Keywords[cs]=COSMIC;Markdown;MD;Editor;Text;Psaní;Poznámky;Dokumentace;Markup;Náhled;
MimeType=text/plain;text/markdown;text/x-markdown;
